[submodule "tpl/loguru"]
	path = tpl/loguru
	url = https://github.com/emilk/loguru.git
[submodule "tpl/cxxopts"]
	path = tpl/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "tpl/fmt"]
	path = tpl/fmt
	url = https://github.com/fmtlib/fmt.git
